<div class="container">
    <h3>Ventas</h3>
    <hr>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad Actual</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data">
            <th scope="row">{{d.data.id}}</th>
            <td>{{d.data.name}}</td>
            <td>{{d.data.cantidad}}</td>
            <td>{{d.data.precio}}</td>
            <td>{{d.cantidad}}</td>
            <td>{{d.subtotal}}</td>
          </tr>
        </tbody>
      </table>
</div>
